.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}

.create label span {
  display: block;
  margin: 30px 0 10px;
}
.create p {
  margin-top: 10px;
  font-size: 0.8em;
}
.create button {
  display: block;
  width: 100px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}
.ingredients-container {
  display: flex;
  max-width: 480px;
  flex-wrap: wrap;
  gap: 0 10px;
}
.ingredients-container span:hover {
  cursor: pointer;
  background-color: red;
}

.ingredients-container span {
  background-color: #555;
  border-radius: 5px;
  padding: 7px 12px;
  color: white;
  margin: 0 0 10px 0 !important;
}

.ingredients {
  display: flex;
  align-items: center;
}
.ingredients input {
  margin-bottom: 10px;
}
.ingredients button {
  margin: 0 0 0 10px;
}
